/* ! Reset */
body,
html {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0 0 1rem 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

img {
    max-width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    text-decoration: none
}

/* ! Style */

body {

    background-color: #ece5dd;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(180deg, rgba(0, 150, 136, 1) 20%, rgba(227, 225, 220, 1) 20%, rgba(209, 215, 219, 1) 100%);

}

.wrapper {

    display: flex;
    justify-content: center;
    height: 100vh;
}

.whatsapp {

    margin-top: 4rem;
    border: 1px solid black;
    height: 80vh;
    width: 90%;
    background-color: #ece5dd;
    display: flex;
}

.sidebar {

    width: 350px;
    border-right: 1px solid black;
    background-color: rgba(252, 252, 252, 0.802);
    cursor: pointer;
    display: flex;
    flex-direction: column;

}

.user__lobby {

    display: flex; 
    justify-content: space-between; 
    padding: .5rem;
    background-color: rgba(91, 91, 91, 0.55);
}

.personal__info {

    display: flex;
    align-items: baseline;
}

.personal__info__name {

    margin-inline: .5rem;
}

.user__icons {

    display: flex;
    align-items: center;
    padding-inline: .5rem;
}

.user__icons>i {

    display: inline-block;
    margin: 0 .3rem;
}

.desktop__notifications {

    background-color: rgba(9, 135, 209, 0.417);
    display: flex;
}

.icon__container {

    padding: 1rem;
}

.notification__bell {

    font-size: 1.5rem;
    color: rgba(9, 135, 209, 0.417);
    ;
    background-color: white;
    border-radius: 50%;
}

.notification__container {

    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.notification__link {

    color: grey;
    text-decoration: underline;
    font-size: smaller;
}

.global__chat__container {

    overflow: scroll;
}

.contacts__list {

    display: flex;
    flex-direction: column;
}

.contacts__list>li {

    height: 80px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dee2e6;
    padding: .5rem;
}

.contact__item {

    display: flex;
    align-items: center;
    gap: .5rem;
}

.contact__msg__info {

    display: flex;
    flex-direction: column;
}

.last__message {

    color: #020101c5;
    font-size: smaller;
}

.time__stamp {

    font-size: smaller;
}

.chat-wrapper {

    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.contact__info {

    background-color: rgba(91, 91, 91, 0.55);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__contact__container {

    display: flex;
    align-items: center;
    padding-inline: .5rem;

}

.user__contact__name {

    display: flex;
    flex-direction: column;
    margin-inline: .5rem;
}

.user__contact__name > span {

    margin-bottom: 1rem;
}


.user__contact__icons>i {

    display: inline-block;
    margin: 0 .3rem;
}


.chat__field {

    background-image: url('/img/mine.jpg');
    height: 100%;
    padding: .5rem;
    overflow: auto;

}

.messages {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;  

}

.message {
    max-width: 60%;
    border-radius: 5px;
    padding: 0.5rem;
    align-self: flex-start;
}

.sent {
    background-color: rgb(37, 211, 102);
    align-self: flex-end;
}

.received {
    background-color: rgba(255, 255, 255, 0.895);
}

.message__date{

    font-size: smaller;
    color: rgba(128, 128, 128, 0.779);
    align-self: flex-end;
}


.bottom__bar__inputs {

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid black;
    background-color: rgba(205, 197, 197, 0.786);
    padding: 10px;
}

.bottom__bar__inputs > .input-group {

    flex-grow: 1; 
    margin-inline: 2rem;
}