/* ! Reset */
body,
html {
    font-family: 'Intro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0 0 1rem 0;
    padding: 0;
}

ol,
ul {
    list-style-type: none;
}

img {
    max-width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

a {
    text-decoration: none
}

/* ! Style */

body{

    background-color: #ece5dd;

}

.wrapper {

    display: flex;
    justify-content: center;
    height: 100vh;
}

.whatsapp {

    margin-top: 4rem;
    border: 1px solid black;
    height: 80vh;
    width: 90%;
    background-color: #ece5dd;
}

.sidebar {

    width: 350px;
    border-right: 1px solid black;
    background-color: rgba(252, 252, 252, 0.802);

}

.user__lobby {

    background-color: rgba(91, 91, 91, 0.55);
}

.personal__info {

    display: flex;
    align-items: baseline;
}

.desktop__notifications {

    background-color: rgba(9, 135, 209, 0.417);

}

.notification__bell {

    font-size: 2rem;
    color:  rgba(9, 135, 209, 0.417);;
    background-color: white;
    border-radius: 50%;
}

.notification__link{

    color: grey;
    text-decoration: underline;
    font-size: smaller;
}

.global__chat__container {

    overflow: scroll;
}

.contact__list {

    cursor: pointer;
    height: 85px;
    width: 100%;
    border-top: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact__msg__info {

    display: flex;
    flex-direction: column;
}

.last__message {

    color:#020101c5;
    font-size: smaller;
}

.time__stamp {

    font-size: smaller;
    padding-top: 5px;
    align-self: flex-start;
}

.chat-wrapper {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.contact__info {

    background-color: rgba(86, 83, 83, 0.664);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat__field {

    background-image: url('/img/mine.jpg');
    background-size: cover;
    height: 100%;
}

.chat__inputs {

    border: 1px solid black;
    background-color: rgba(205, 197, 197, 0.786);
    padding: 10px;
    border-radius: 5px;

}